body
{
    margin: 0;
    padding: 0;
    background-image: url(image3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,1);
}
.center h1
{
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
.form  
{
    padding-bottom: 15px;
    margin: 0 20px;
    text-align: center;
}
.textfiled
{
        width: 100%;
        height: 50px;
        font-size: 18px;
        border: 2px solid #3498db; 
        border-radius: 5px;
        box-sizing: border-box;
        padding-left: 10px;
        margin: 7px 0; 
    }
    .btn
    {
        width: 100%;
        height: 50px;
        background-color: #3498db;
        border-radius: 5px;
        font-size: 20px;
        margin: 7px 0;
        color: white;
        border: 0;
        cursor: pointer;
    }
    .btn:hover
    {
        background-color: #222;
        color: #3498db;
    }
    .forgetpass
    {
        font-size: 16px;
        padding: 4px 0;
        margin: 3px;
        color: #222;
    }
    .forgetpass a{
        color: #3498db;
    }
    .link
    {
        text-decoration: none;
        color: #3498db;
    }
    .link:hover{
        color: blanchedalmond;
    }
    .signup{
        color: #fff;
    }
    @media (max-width: 470px)
    {
        .center
        {
            width: 88%;
        }    
    }